<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>HAIKing</title>

  <link rel="stylesheet" href="../static/style.css">
</head>

<body class="sfondo">
  <div class="container-root">

    <div class="container">
      <ol class="chat">
      </ol>
    </div>

    <input aria-label="Type here the text to process" id="userquery" class="textarea" type="text"
      placeholder="Type here!" label=/>
 
      

  </div>
  <div class="disclaimer">
    <p><b>This chatbot can make mistakes, be sure to double check everything it says!</b></p>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="../static/converse.js"></script>
</body>

</html>